body{
    background-size: cover;
}

button{
    position: absolute;
    font-size: 1.1vw;
    padding: 1vh 2vh;
    background-color: red;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    top: 10%;
    left: 44%;
}

#crono{
    position: absolute;
    right: 1%;
    top: 1%;
}